@{ ViewData["Title"] = "Verification"; }

<h2>ID = @ViewBag.ID</h2>
<h2>Hash = @ViewBag.PseudoHash</h2>
<br>
<br>

@if (ViewBag.VerificationSucceeded == true)
{
    <h1 style="color: rgb(0, 155, 0)">Verification succeeded</h1>
}

else
{
    <h1 style="color: rgb(155, 0, 0)">Не стоило тебе сюда приходить...</h1>
    <p><img src="~/static/1550266117184786143.png" width="400" height="455" /></p>
    <br>
    <br>
    <br>
    <br>
    <br>

    <audio controls autoplay="autoplay">
        <source src="~/static/music.mp3" type="audio/ogg">
        <source src="~/static/music.ogg" type="audio/mpeg">
    </audio>
}

