@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2020. Аніме-картотека";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <p><a asp-controller="Genres" asp-action="Index">Перейти до картотеки</a></p>
            <input type="submit" value="Вихід" />
    </form>
}

else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
}
